.jpoker_chat_history_player_box {
    position: absolute;
    top: 470px;
    left: 770px;
    width: 227px;
	display: none;
}

.jpoker_chat_history_player_heading, .jpoker_chat_history_dealer_heading {
	display: none;
    background: #000 url(images/jpoker_table/block-header-bg.gif) left top repeat-x;
    height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: black 0px -1px 0px;
    line-height: 18px;
}

.jpoker_chat_history_player {
    background-color: #bdcc8f;
    overflow: auto;
    height: 87px;
}

.jpoker_chat_input {
    left: 14px;
    position :absolute;
    top: 575px;
    width: 328px;
    height: auto;
/*    background-color: white;*/
	z-index: 9999;
}

.jpoker_chat_input input {
	font-family: arial;
    font-size: 11px;
    /*J padding-top: 4px; */
}

.jpoker_chat_history_dealer_box {
    position: absolute;
    top: 485px;
    left: 10px;
    width: 333px;
	height: 112px;
	background: url("images/jpoker_table/chat-bg.png") no-repeat scroll center top transparent;
	font-family: arial;
    font-size: 11px;
}

.jpoker_chat_history_dealer {
    overflow-y: scroll;
	overflow-x: hidden;
    height: 81px;
	width: 325px;
	margin-top: 6px;
	margin-left: 4px;
}

.jpoker_chat_message {
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message {
    color: #808080;
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message.from_player {
    color: blue;
}

.jpoker_chat_line{
	padding:0 0.2em;
}
.jpoker_chat_history_dealer{
	background: #ffffff;
}

.jpoker_chat_prefix{
	font-weight: bold;
}

.jpoker_chat_prefix.from_player {
	color: blue;
}


