{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block extrahead %}{% endblock %}

{% block content %}
    <div id="about_page" class="container">
        <section class="top_section">
            <h2>ABOUT US</h2>
        </section>
        <section class="single_col">
            <h3>The Team</h3>
           <p>LiveAce was founded by a dedicated group of poker entrepreneurs to fill the void left in the online poker market after Black Friday.  We’ve used our background in live and online poker to comprehensively design a site which caters to both serious and casual players.  We think you’ll agree that LiveAce has all of the benefits of traditional online cash games, without suffering from the significant shortcomings of other online poker options.</p>
            <h3>The Problem</h3>
            <p>
Virtually all U.S. legal sites require players to compete in large, rigidly scheduled, monotonous multiple table tournaments to earn real money or prizes.  We don’t like being told what time to show up or having to play for hours and hours when over 90% of the time we will have nothing to show for it.  Furthermore, tournament strategy is completely different than ring game strategy, so we don’t get any practice benefits for the types of games which we typically play in casinos, card rooms and home games.  </p><p class='about_text'>The other option, “play money” sites like Zynga, are plagued by poor play as players rightly assign no value to their chips and therefore don’t take the game seriously.  If you simply wish to practice your game without the ability win money, “play money” sites are not an option.</p>
            <h3>The Solution</h3>
            <p>If you want to play competitive ring games as well as have the ability to win real money, LiveAce is your home.  We’ve spent thousands of hours developing a poker site that we would actually play on.  Even if you don’t wish to cash in your chips, you can stop by anytime to practice in competitive games where people treat their chips with care – the same way they do in Vegas.  Best of all, the site is not only U.S. legal, but completely free.
</p><p>If you have any comments, questions or feedback about LiveAce we encourage you to email us at <a href="mailto:info@liveace.com">info@liveace.com</a>.  We make every effort to respond to questions within 48 hours.</p>
            <p>We hope you’ll enjoy the site and tell your friends about it.  See you at the tables!</p>
            <p>The LiveAce Team</p> 
        </section>
    </div>
    <div class="bottom_background"></div>
{% endblock %}
